%require_tree
%div.header
  %div
    %img{:src => "/uploads/book.png", :class => "logo"}
  %div
    %p
      Search
      %input{:type => "search", :class => "search"}
%h1.top_h1
  Top 5 Books
%div.row
  - if @books.count == 0
  - else
    - @exp.each do |b|
      %div.col-lg-4
        %div.book
          %div
            %img{:src => "#{b.img}", :class => "images"}
          %div.desc
            %div.desc_name
              = link_to b.name, book_path(b)
            %table.tabs
              %tr
                %td Genre
                %td= b.genre
              %tr
                %td Status
                %td= b.status
              %tr
                %td Author
                %td= b.author
              %tr
                %td Description
                %td= b.description


%h1.top_h1
  Books
- if @books.count == 0
- else
%div.row
  - if @books.count == 0
  - else
    - @books.each do |b|
      %div.col-lg-4
        %div.book
          %div
            %img{:src => "#{b.img}", :class => "images"}
          %div.desc
            %div.desc_name
              = link_to b.name, book_path(b)
            %table.tabs
              %tr
                %td Genre
                %td= b.genre
              %tr
                %td Status
                %td= b.status
              %tr
                %td Author
                %td= b.author
              %tr
                %td Description
                %td= b.description
    = paginate @books
%br
= link_to 'New Book', new_book_path
= link_to "Exit", destroy_user_session_path, :method => :delete