%body.body_color
  .back_row
    .col-lg-2
    .col-lg-8
      .main_head_wrap
        .butts
          = link_to 'Добавить книгу', new_book_path, method: :get, class: 'newbook'
          = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'exit'
      %h1.top_h1
        Топ 5 книг
      .main_wrap
        .row
          - @popular_books.take(5).each do |b|
            .col-lg-12
              %br
              .book
                %div
                  %img{src: "#{b.img}", class: 'images'}
                .desc
                  .desc_name
                    = link_to b.name, book_path(b)
                  %table.tabs
                    %tr
                      %td
                        |
                        = b.genre
                        |
                        %img{src: b.status == 'in' ? "/uploads/green2.png" : "/uploads/red.png", class: 'status'}
                    %tr
                      %td
                        = b.description
                        %br
                        %br
                        .author
                          = b.author
      %h1.top_h1
        Все книги
      .main_wrap
        .row
          - @books.order(created_at: 'desc').each do |b|
            .col-lg-12
              %br
              .book
                %div
                  %img{src: "#{b.img}", class: 'images'}
                .desc
                  .desc_name
                    = link_to b.name, book_path(b)
                  %table.tabs
                    %tr
                      %td
                        |
                        = b.genre
                        |
                        - if b.status == 'in'
                          Статус
                          %img{src: "/uploads/green2.png", class: 'status'}
                        - else
                          Статус
                          %img{src: "/uploads/red.png", class: 'status'}
                    %tr
                      %td
                        = b.description
                        %br
                        %br
                        .author
                          = b.author
        = paginate @books
      .main_foot_wrap
    .col-lg-2
  %br