%require_tree
-#%div.header
-#  %div
-#    %img{src: '/uploads/book.png', class: 'logo'}
-#  %div
-#    %p
-#      Search
-#      %input{type: 'search', class: 'search'}


.main
  %br
  %br
  .home
    = button_to 'Главная', books_path, method: 'get'
    - if @book.user_id == current_user.id
      .dropdown
        %input.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown',:value => '' ,readonly: 'true'}
        %ul.dropdown-menu
          %li
            - if @book.status == 'in'
              = button_to 'Edit', edit_book_path(@book),  method: :get
          %li
            = button_to 'Delete', [@book],  method: :delete
          %li

  %br
  %br
  %br


  .row
    .col-md-4
      %img{src: "#{@book.img}", class: 'image_show'}
      .take_like
        .row
          .col-md-6
            - if @book.status == 'in'
              #take
                = render 'books/form_take'
            - elsif @book.status == 'out'
              #return
                = render 'books/form_return'
          .col-md-6
            - if @like != nil && @like.user_id == current_user.id && @like.book_id == @book.id
              #dislike
                = render 'likes/form_dislike'
            - elsif @like.nil? || @like.user_id != current_user.id && @like.book_id != @book.id
              #like
                = render 'likes/form_like'
    .col-md-8
      .info
        %p
          Название:
          %strong= @book.name
        %p
          Статус:
          - if @book.status == 'in'
            %img{src: "/uploads/green2.png", class: 'status'}
          - else
            %img{src: "/uploads/red.png", class: 'status'}
        %p
          Автор:
          %strong= @book.author
        %p
          Жанр:
          %strong= @book.genre
        %p
          %strong Описание:
          %br
          %br
          = @book.description
        %p
          /Рейтинг:
          /%strong= rating_for @book
        %br
  %br
  .footer
    .row
      .col-lg-6
        %h2 Комментарии:
        #com
          = render @book.comments.order_by(created_at: 'desc')
        = render 'comments/form'
      .col-lg-6
        .histories
          %h2 История:
          %table
            %thead
              %tr
                %th Пользователь
                %th Когда взял
                %th Когда вернул
            %tbody
              - @book.histories.order_by(taken_in: 'desc').each do |history|
                %tr
                  %td= history.user.email
                  %td= history.taken_in
                  %td= history.returned_in
          %br

